*{
	margin: 0;
	padding: 0;
}
.error{
	width: 50%;
	background: #1565c0;
	color: #fff;
	text-align: center;
	font-family:udec;
	margin: 10% 25% 0% 20%;
	border-radius: 5px;
	padding: 5%;
}
.error h1{
	padding: 2%;
}
.error a{
	font-size: 150%;
	text-decoration: none;
	color: #fff;
	padding: 2%;
	border-radius: 5px;
}
.error a:hover{
	color: #fff;
	background: red;

}

@font-face{
  font-family: udec;  
  src:url(../fonts/Raleway-Regular.ttf);
}