
.modal {
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
    font-family: udec;
}
.Registro{
    display: none;
}

.Contenido-Modal {
    background-color:#FFF;
    margin: 4% auto 15% auto;
    padding: 5px;
    width: 40%; 
    padding-bottom: 3px;
    box-shadow: 0px 0px 20px 0px #000;
    transition: all 300ms;
    border-radius: 2px;
}
.Ingreso a{
    color: #004d40;
}

.close {
    color: #000;
    float: right;
    margin-right: 10px;
    margin-top: -30px;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
.contenedor-avatar {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
   
}
.avatar {
    width: 30%;
    border-radius: 50%;
     padding: 2px;
}
input[type=text],input[type=file], input[type=password],input[type=date],select ,textarea{
    width: 90%;
    padding: 10px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #1565c0;
    box-sizing: border-box;
    font-size:16px;
    font-family: Udec;
}
label{
    display: inline-block;
    width: 100%;
    padding: 5px;
    color: #1565c0;
}

button {
    background-color: #1565c0;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
    font-size:20px;
}
button:hover {
    opacity: 0.8;
}
.contras{
    text-decoration:none; 
    margin-left:3%; 
    margin-top:35px;
    padding: 5px;
    font-size: 110%;
}
.contras:hover{
    color: #1565c0;
}
.titulo{
    color:  #1565c0;
    font-size: 200%;
    font-family: udec;
}
.animate {
    animation: zoom 0.6s;
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

